.search, .results               {width:100%;}
.search th                      {text-align:right;}
.search td                      {padding:5px 4px;}
tr.grey_bg, tr.grey_bg          {background-color:#F5F5F5;font-size:93%;}
tr.grey_bg td, tr.grey_bg th    {padding:2px 4px;margin:10px 0 0 0;text-align:left;font-weight:normal;}
.search a, .search a:visited    {font-size:93%;color:#000;}
.search select, .search input[type=text]   
                                {width:150px;}
.results th div                 {float:left;}
.results th div.pagination      {float:right;padding-right:50px;}
.results .created_at            {width:150px;}
.results .url                   {width:200px;}
.results th                     {text-align:left;padding:5px;}
.results td                     {border-bottom:1px solid #EAEAEA;border-top:1px solid #EAEAEA;padding:5px;}
.results tbody tr:hover         {background-color:#ffffb3;}
.results a, .results a:visited  {color:#000;}
.pagination                     {text-align: center;}
.pagination a, .pagination span {padding: .2em .3em;}
.pagination span.disabled       {color: #AAA;}
.pagination span.current        {font-weight: bold;background: transparent url(/images/admin/circle.gif) no-repeat 50% 50%; }
.pagination a                   {text-decoration: none;color: black;}
.pagination a:hover, .pagination a:focus 
                                {text-decoration: underline; }
.results a.sort_asc             {background:transparent url(/images/admin/asc.gif) no-repeat right center;padding-right:15px;}
.results a.sort_desc            {background:transparent url(/images/admin/desc.gif) no-repeat right center;padding-right:15px;}
#filtering                      {position:relative;width:350px;}
#expander                       {outline:none;border:3px solid #FFF;z-index:100;border-bottom:none;
                                 padding:5px 10px 9px 10px;color:#000;position:absolute;}
#form                           {border:3px solid silver;z-index:10;position:absolute;width:350px;background-color:#F5F5F5;padding-top:10px;top:32px;}
#current_filters                {margin-left:100px;padding-top:8px;position:absolute;width:600px;}
#current_filters a              {color:#000;}
#filtering.expanded             {}
#filtering.expanded #expander   {border:3px solid silver;border-bottom:none;text-decoration:none;
                                 background-color:#F5F5F5;}
#results                        {margin-top:40px;}