-content_for :popups do
  #blob-popup.popup{:style => "display:none;"}
    %h3 Blob
    #blob-contents-wrap
      %pre#blob-contents
    %p= link_to 'Close', '#', :class => 'close', :onclick => "$(this).up('.popup').hide(); return false;"